# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [1]:
x = 3
y = 4.5
z = "8"
a = "12"
b = "46"

In [2]:
x = float(x)
print(x)

y = int(y)
print(y)

z = int(z)
print(z)

a = float(a)
print(a)

b = int(float(b))
print(b)

3.0
4
8
12.0
46

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [3]:
Selim = 25
Buse = 24
Arda = 18

In [4]:
Selim > Buse

True

In [5]:
Arda > Selim

False

In [6]:
Arda == Buse

False

In [7]:
(Selim > Arda) and (Buse < Selim)

True

In [8]:
(Selim > Arda) and (Arda > Buse)

False

In [9]:
(Selim < Buse) or ( Buse < Selim )

True

In [10]:
((Arda > Buse) or ( Selim > Buse)) and (Selim < Arda)

False

In [11]:
((Arda > Buse) or ( Selim > Buse)) and (Selim > Arda)

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [34]:
a = input("İşlem yapılacak ilk sayıyı giriniz: ")

İşlem yapılacak ilk sayıyı giriniz:  12

In [35]:
b = input("İşlem yapılacak ikşinci sayıyı giriniz: ")

İşlem yapılacak ikşinci sayıyı giriniz:  25

In [36]:
a = int(a)
b = int(b)

In [39]:
print("a + b = ", a+b)
print("a - b = ", a-b)
print("a x b = ", a*b)
print("a : b = ", a/b)

a + b =  37
a - b =  -13
a x b =  300
a : b =  0.48

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [16]:
print("Aşağıdaki bilgileri doldurunuz.")
isim_soyisim = input("İsminiz ve soy isminiz: ")
sehir = input("Yaşadığınız şehir: ")
meslek = input("Meslek: ")

Aşağıdaki bilgileri doldurunuz.

İsminiz ve soy isminiz:  Buse Gülçen
Yaşadığınız şehir:  Yalova
Meslek:  Öğrenci

In [17]:
print(isim_soyisim, sehir, meslek)

Buse Gülçen Yalova Öğrenci

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [18]:
x = "Hi-Kod Veri Bilimi Atölyesi"

In [24]:
x[:6]

'Hi-Kod'

In [27]:
x[7:11]

'Veri'

In [28]:
x[12:19]

'Bilimi '

In [30]:
x[19:]

'Atölyesi'

In [20]:
x.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [21]:
x.lower()

'hi-kod veri bilimi atölyesi'

In [22]:
a = "0123456789"
cift_sayilar = []
tek_sayilar = []

In [23]:
for i in a:
    if int(i) % 2 == 0:
        cift_sayilar.append(i)

    else:
        tek_sayilar.append(i)

print(cift_sayilar, tek_sayilar)

['0', '2', '4', '6', '8'] ['1', '3', '5', '7', '9']